<div class="content">
    <div class="container-fluid">
        
        <%= render 'partials/main_filter' %>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <!--<i class="ti-user"></i>-->
                                    <%= image_tag 'population.png', :size => "60x60" %>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers" id='total_population'>
                                    <p>Total Population</p>
                                    <span>
                                        <%= @total_population %>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i>
                                Retrieved in: <%= @retrieval_time %> seconds
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <!--<i class="ti-receipt"></i>-->
                                    <%= image_tag 'news_icon.png', :size => "60x60" %>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers" id='total_news_sites'>
                                    <p>Sites Read News Today</p>
                                    <span>
                                        <%= @today_news_sites %>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i> 
                                Retrieved in: <%= @retrieval_time %> seconds
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <!--<i class="ti-pulse"></i>-->
                                    <%= image_tag 'baby_with_diaper.jpg', :size => "60x60" %>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers" id='month_births'>
                                    <p>People Born This Month</p>
                                    <span>
                                        <%= @month_births %>
                                    </span>    
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-timer"></i>
                                Retrieved in: <%= @retrieval_time %> seconds
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-info text-center">
                                    <!--<i class="ti-twitter-alt"></i>-->
                                    <%= image_tag 'death_icon.png', :size => "60x60" %>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers" id='month_deaths'>
                                    <p>People Died This Month</p>
                                    <span>
                                        <%= @month_deaths %>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i>
                                Retrieved in: <%= @retrieval_time %> seconds
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">
                            New Registrations
                        </h4>
                        <p class="category">
                            Number of people registered on a specific day
                        </p>
                    </div>
                    <div class="content">
                        <div id="newRegistrations" class="ct-chart"></div>
                        <div class="footer">
                            <div class="chart-legend" id='total_new_registrations'>
                                <i class="fa fa-circle text-info"></i> 
                                New Registrations (Total: 
                                <span>
                                    <%= @total_new_registrations %>
                                </span>
                                )
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-reload"></i>
                                Retrieved in: <%= @retrieval_time %> seconds
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">
                            Month Births
                        </h4>
                        <p class="category">
                            Number of people born on a specific day
                        </p>
                    </div>
                    <div class="content">
                        <div id="newBirths" class="ct-chart"></div>
                        <div class="footer">
                            <div class="chart-legend" id='total_births'>
                                <i class="fa fa-circle text-warning"></i> New Births 
                                (Total: 
                                <span>
                                    <%= @total_births %>
                                </span>    
                                )
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-reload"></i>
                                Retrieved in: <%= @retrieval_time %> seconds
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    
    var registrations_data = {
        labels: <%= @days_of_month %>,
        series: [
            <%= @registrations %>
        ]
    };

    var births_data = {
        labels: <%= @days_of_month %>,
        series: [
            <%= @births %>
        ]
    };

    var options = {
        seriesBarDistance: ''
    };

    var responsiveOptions = [
        ['screen and (min-width: 641px) and (max-width: 1024px)', {
            seriesBarDistance: 10,
            axisX: {
            labelInterpolationFnc: function (value) {
                return value;
            }
            }
        }],
        ['screen and (max-width: 640px)', {
            seriesBarDistance: 5,
            axisX: {
                labelInterpolationFnc: function (value) {
                    return value[0];
                }
            }
        }]
    ];

    new Chartist.Bar('#newRegistrations', registrations_data, options, responsiveOptions);

    new Chartist.Bar('#newBirths', births_data, options, responsiveOptions);
</script>