        <div class="content">
            <div class="container-fluid">
                
                <%= render 'partials/main_filter' %>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">
                                    News Statistics against villages
                                </h4>
                                <p class="category">
                                    This table shows detailed stats on News for every Village. You can click on a particular record to drill down to more stats for it.
                                </p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Count</th>
                                    	<th>Village Name</th>
                                    	<th>Articles Read</th>
                                    	<th>Sports Articles</th>
                                    	<th>Local News Articles</th>
                                    </thead>
                                    <tbody>
                                        <%# raise @news_articles.last.properties.inspect %>
                                        <% (@news_sites || []).each_with_index do |news_site, index| %>
                                            <tr>
                                                <td>
                                                    <%= index + 1 %>
                                                </td>
                                                <td>
                                                    <%= news_site.ip %>
                                                </td>
                                                <%
                                                    articles_read = 0
                                                    sports_articles = 0
                                                    local_news_articles = 0
                                                %>
                                                <% (@news_articles || []).each do |news_article|
                                                    article_properties = eval(news_article.properties)
                                                    if news_article.visit_id == news_site.id && news_article.name == 'Viewed article'
                                                        articles_read += 1

                                                        article_category = article_properties['category']
                                                        
                                                        case article_category
                                                        when 'sports_news'
                                                            sports_articles += 1
                                                        when 'local_news' 
                                                            local_news_articles += 1
                                                        end
                                                    end  
                                                end %>
                                                <td>
                                                    <%= articles_read %>
                                                </td>
                                                <td>
                                                    <%= sports_articles %>
                                                </td>
                                                <td>
                                                    <%= local_news_articles %>
                                                </td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>