<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>EVR Stats Konsole</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Defaults for Rails app -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap core CSS     -->
    <%= stylesheet_link_tag 'bootstrap/bootstrap.min', rel: 'stylesheet' %>

    <!-- Animation library for notifications   -->
    <%= stylesheet_link_tag 'bootstrap/animate.min', rel: 'stylesheet' %>

    <!--  Paper Dashboard core CSS    -->
    <%= stylesheet_link_tag 'bootstrap/paper-dashboard', rel: 'stylesheet' %>

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'bootstrap/themify-icons', rel: 'stylesheet' %>

    <!-- For datepicker -->
    <%= stylesheet_link_tag 'datepicker', rel: 'stylesheet' %>

    </style>
</head>
<body>

<div class="wrapper">

    <%= render 'partials/sidebar' %>

    <div class="main-panel">
        <%= render 'partials/header' %>
        <%= yield %>
        <%= render 'partials/footer' %>
    </div>

    <%= render 'partials/footer' %>

    <!-- Calendar Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Select MONTH and YEAR to filter data for:</h4>
          </div>
          <div class="modal-body">
            <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                <input class="span2" size="16" type="text" value="12-02-2012">
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>

</div>

</body>

    <!--   Core JS Files   -->
    <%= javascript_include_tag 'bootstrap/jquery-1.10.2', type: 'text/javascript' %>
    <%= javascript_include_tag 'bootstrap/bootstrap.min', type: 'text/javascript' %>

    <!-- DatePicker plugin -->
    <%= javascript_include_tag 'bootstrap-datepicker', type: 'text/javascript' %>

    <!--  Checkbox, Radio & Switch Plugins -->
    <%= javascript_include_tag 'bootstrap/bootstrap-checkbox-radio' %>

    <!--  Charts Plugin -->
    <%= javascript_include_tag 'bootstrap/chartist.min' %>

    <!--  Notifications Plugin    -->
    <%= javascript_include_tag 'bootstrap/bootstrap-notify' %>

    <!--  Google Maps Plugin    -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->

    <script type="text/javascript">
        
        $(document).on("page:fetch", function(){
            $(".spinner").show();
        });

        $(document).on("page:receive", function(){
            $(".spinner").hide();
        });

        $('.date-picker').datepicker();
    
	</script>

</html>