<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>EVR Stats Konsole</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Defaults for Rails app -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap core CSS     -->
    <%= stylesheet_link_tag 'bootstrap/bootstrap.min', rel: 'stylesheet' %>

    <!-- Animation library for notifications   -->
    <%= stylesheet_link_tag 'bootstrap/animate.min', rel: 'stylesheet' %>

    <!--  Paper Dashboard core CSS    -->
    <%= stylesheet_link_tag 'bootstrap/paper-dashboard', rel: 'stylesheet' %>

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'bootstrap/themify-icons', rel: 'stylesheet' %>

    <!-- Daterange Picker -->
    <%= stylesheet_link_tag 'daterangepicker', rel: 'stylesheet' %>

</head>

<body>

    <div class="sk-cube-grid" id='cube_loader' style="display: none;">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>

    <div class="wrapper">

        <%= render 'partials/sidebar' %>

        <div class="main-panel">
            <%= render 'partials/header' %>
            <%= yield %>
            <%= render 'partials/footer' %>
        </div>

        <%= render 'partials/footer' %>

    </div>

</body>

    <!--   Core JS Files   -->
    <%= javascript_include_tag 'bootstrap/jquery-1.10.2', type: 'text/javascript' %>
    <%= javascript_include_tag 'bootstrap/bootstrap.min', type: 'text/javascript' %>

    <!--  Checkbox, Radio & Switch Plugins -->
    <%= javascript_include_tag 'bootstrap/bootstrap-checkbox-radio' %>

    <!--  Charts Plugin -->
    <%= javascript_include_tag 'bootstrap/chartist.min' %>

    <!--  Notifications Plugin    -->
    <%= javascript_include_tag 'bootstrap/bootstrap-notify' %>

    <!-- Daterange Picker -->
    <%= javascript_include_tag 'daterangepicker', type: 'text/javascript' %>
    <%= javascript_include_tag 'moment.min', type: 'text/javascript' %>

    <!--  Google Maps Plugin    -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->
    <script type="text/javascript">
        $(function() {

            var start = moment().startOf('month');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

        });

        $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
            var start_date = $('#reportrange').data('daterangepicker').startDate._d;
            var end_date = $('#reportrange').data('daterangepicker').endDate._d;

            $('#cube_loader').show();

            $.post('/',
                {
                    start_date: start_date,
                    end_date: end_date
                },
                function(data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                }
            );
        })
    </script>    

</html>